# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# alexa (needs to be made private if code is going public)
# as soon as you start coding and applying the correct ARN please make sure to make this file private
.ask

# environment files
.env
# in a private repository you can commit all your environment variable files for each staging system
.*.env

# other
.webpack
npm-debug.log

